@use "../../style/base";
@import '../../style/base';
@import '../../style/style.scss';

.resources {
  @include themify($themes) {
    background-color: themed('pageBg');
    padding-left: 60px;
    padding-right: 60px;
    color: themed('textColor');
    height: 100vh;

    a {
      text-decoration: none;
      color: themed('softTextColor');

      &:hover {
        color: themed('hover');
      }
    }

    @include mobile {
      padding: 10px;
    }

    @include tablet {
      padding: 30px;
    }

    .resourcesFront {
      position: sticky;
      top: 100px;
      height: calc(100vh - 100px);
      overflow: scroll;
      scrollbar-width: none; /* Firefox */
      background-color: themed('middleSectionBg');
      @include bigBorderRd;
      @include coverShadow;
      z-index: 130000;

      @include mobile {
        padding: 5px;
      }

      @include tablet {
        padding: 20px;
      }

      .resourcesContainer {
        padding: 20px 30px 20px 30px;

        @include mobile {
          padding: 10px;
          padding-top: 20px;
          margin: 5px;
        }

        @include tablet {
          padding: 20px;
        } 
        .resourcesSubtitle {
          margin-left: 30px; 
          margin-top: 20px;
        }

        .resourcesBox {
          height: 40%;
          width: 25%;
          @include newsShadow;
          @include smallBorderRd;
          background-color: themed('cardBg');
          color: themed('textColor');
          padding: 25px; 
          margin: 25px;
          display: flex;
          // align-items: center;
          justify-content: space-between; 
        } 
        .resourcesList { 
          flex-direction: column;

          height: 150%;
          @include newsShadow;
          @include smallBorderRd;
          background-color: themed('cardBg');
          color: themed('textColor');
          padding: 25px; 
          margin: 25px;
          display: flex;
          // align-items: center;
          justify-content: space-between;
        } 
        .resourcesTitle {
          text-align: center; 
          margin-bottom: 60px; 
          margin-top: 20px;
        }
        .paragraph {
          margin: 20px;
        }
      }
    }
  } 
  li {
    margin: 10px;
  } 
  
} 

 
                
      