@use "../..//style/base";
@import '../..//style/base';
@import '../..//style/style.scss';

// span {
//   margin: 10px;
//   .news_title {
//     background-color: red;
//   }
// }
// .all_news{
//   color: red;
// }

.all_news {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.news {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    @include postShadow;
    padding: 20px;
    margin-bottom: 10px;
    @include smallBorderRd;
    color: themed('textColor');

    .news_format {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: themed('textColor');
    }
    .news_url {
      display: flex;
      align-items: center;
    }
  }
}
