@use "../../style/base";
@import '../../style/base';

.register {
  height: 100vh;
  background-color: base.$background;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background-color: base.$white;
    border-radius: 3.3rem;
    min-height: 600px;
    overflow: hidden;
    @include authShadow;

    .left {
      flex: 1;
      background: -webkit-linear-gradient(
          base.$washedOrange 10%,
          transparent 50%
        ),
        url('https://images.pexels.com/photos/3184433/pexels-photo-3184433.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: base.$white;

      h1 {
        font-size: 40px;
        line-height: 40px;
        @include textShadow;
      }

      span,
      p {
        font-size: 18px;
        @include textShadow;
      }

      button {
        @include bigButton(
          base.$white,
          base.$washedBlue,
          base.$washedBlue,
          base.$white
        );
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: base.$black;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid base.$lightGrey;
          padding: 20px 10px;
          outline: none;
        }

        button {
          @include bigButton(
            base.$washedBlue,
            base.$white,
            base.$white,
            base.$washedBlue
          );
        }
      }
    }
  }
}
