@use "../../style/base";

.register {
  height: 100vh;
  background-color: #f0f6f6;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: -webkit-linear-gradient(rgb(169, 123, 67) 10%, transparent 50%),

        url("https://images.pexels.com/photos/3184433/pexels-photo-3184433.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 40px;
        line-height: 40px;
      }

      p {
        
      }

      span {}

      button {
        width: 150px;
        padding: 10px;
        background-color: white;
        color: rgb(82, 116, 161);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #0d0d0d;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 150px;
          padding: 10px;
          border: none;
          background-color: rgb(82, 116, 161);
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
