@use "../../style/base";
@import '../../style/base';
@import '../../style/style.scss';

.chat {
  @include themify($themes) {
    background-color: themed('pageBg');
    padding-left: 60px;
    padding-right: 60px;
    color: themed('textColor');
    height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet {
      padding: 30px;
    }

    .chatFront {
      position: sticky;
      top: 100px;
      height: calc(100vh - 100px);
      overflow: scroll;
      scrollbar-width: none; /* Firefox */
      background-color: themed('middleSectionBg');
      @include bigBorderRd;
      @include coverShadow;
      z-index: 130000;

      @include mobile {
        padding: 5px;
      }

      @include tablet {
        padding: 20px;
      }

      .chatContainer {
        padding: 20px 30px 20px 30px;
        display: flex;
        flex-direction: row;

        @include mobile {
          padding: 10px;
          padding-top: 20px;
          margin: 5px;
          flex-direction: column;
        }

        @include tablet {
          padding: 20px;
          flex-direction: row
        }
        .chatMenu {
          flex: 2;
        }

        .chatBox {
          flex: 6;
        }

        .chatOnline {
          flex: 2;
        }

        .chatWrapper {
          padding: 10px;
          padding-top: 25px;
          height: 100%;
          @include bigBorderRd;
          @include newsShadow;

          .chatMenuInput {
            width: 90%;
            padding: 10px;
            border: none;
            border-bottom: 1px solid base.$border;
            background-color: transparent;
            outline: none;
            justify-content: center;
            display: flex;
            color: themed('textColor');
          }
        }
      }
    }
  }
}
