@use "../../style/base";
@import '../../style/base';

.login {
  height: 100vh;
  width: 100vw;
  background-color: base.$bgBlue;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 100%;
    max-width: 1060px;
    display: flex;
    background-color: base.$white;
    border-radius: 3.3rem;
    height: 640px;
    overflow: hidden;
    @include authShadow;
    display: flex;
    flex-direction: row;

    .left {
      flex: 1;
      background-color: base.$bgCardBlue;
      border-radius: 2rem;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: base.$white;
      margin: 2rem 0rem 2rem 2rem;
      justify-content: space-between;

      .logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        img {
          width: 7rem;
          margin-right: 0.8rem;
        }
      }

      h1 {
        font-size: 38px;
        line-height: 38px;
        color: base.$black;
      }

      .account {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        span {
          font-size: 18px;
          color: base.$softBlack;
        }

        button {
          @include bigButton(
            base.$white,
            base.$btnBlue,
            base.$btnBlue,
            base.$white
          );
        }
      }
    }

    .right {
      max-width: 16em;
      flex: 1;
      border-radius: 2rem;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: base.$white;
      margin: 2rem 2rem 2rem 0;
      justify-content: space-between;

      h1 {
        color: base.$black;
        display: flex;
        justify-content: center;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid base.$lightGrey;
          padding: 20px 10px;
          outline: none;
          font-size: 18px;
          color: base.$darkText;
          letter-spacing: 1px;
        }
      }
      button {
        @include bigButton(
          base.$btnBlue,
          base.$white,
          base.$white,
          base.$btnBlue
        );
      }
    }
  }
}
