@use "../../style/base";
@import '../../style/base';
@import '../../style/style.scss';

.chat {
  @include themify($themes) {
    background-color: themed('pageBg');
    padding-left: 60px;
    padding-right: 60px;
    color: themed('textColor');
    height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet {
      padding: 30px;
    }

    .chatFront {
      position: fixed;
      top: 100px;
      width: 100%;
      max-width: calc(100vw - 905px);
      height: calc(100vh - 100px);
      overflow: none;
      scrollbar-width: none; /* Firefox */
      background-color: themed('middleSectionBg');
      @include bigBorderRd;
      @include coverShadow;
      z-index: 130000;

      &::-webkit-scrollbar {
        display: none;
      }

      @include mobile {
        padding: 5px;
      }

      @include tablet {
        padding: 20px;
      }

      .chatContainer {
        padding: 20px 30px 20px 30px;
        display: flex;
        flex-direction: row;

        @include mobile {
          padding: 10px;
          padding-top: 20px;
          margin: 5px;
          flex-direction: column;
        }

        @include tablet {
          padding: 20px;
          flex-direction: row;
        }
        .chatMenu {
          flex: 1.5;

          .chatNoWrapper {
            padding: 10px;
            padding-top: 25px;
            height: 100%;

            .chatMenuInput {
              width: 90%;
              padding: 10px;
              border: none;
              border-bottom: 1px solid base.$border;
              background-color: transparent;
              outline: none;
              justify-content: center;
              display: flex;
              color: themed('textColor');
            }
          }
        }

        .chatBox {
          flex: 5.5;

          .chatBoxWrapper {
            padding: 20px;
            padding-top: 25px;
            height: calc(100vh - 200px);
            @include bigBorderRd;
            @include newsShadow;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .chatBoxTop {
              height: 100%;
              overflow-y: scroll;
              scrollbar-width: none;

              &::-webkit-scrollbar {
                display: none;
              }
            }

            .noConversationText {
              padding-top:200px;
              font-size: 30px;
              font-weight: 500;
              color: themed('softTextColor');
              text-align: center;
            }
          }

          .chatBoxBottom {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            .chatMessageInput {
              width: 75%;
              padding: 20px;
              height: 90px;
              border: none;
              @include smallBorderRd;
              outline: none;
              overflow: scroll;
              scrollbar-width: none;
              resize: none;

              &::-webkit-scrollbar {
                display: none;
              }
            }

            .chatSubmitButton {
              @include bigButton(
                base.$buttonBlue,
                base.$White1,
                base.$White1,
                base.$buttonBlue
              );
            }
          }
        }

        .chatOnline {
          flex: 1.5;

          .chatNoWrapper {
            padding: 10px;
            padding-top: 25px;
            height: 100%;
          }
        }
      }
    }
  }
}
