@import url('https://fonts.cdnfonts.com/css/cera-round-pro');

// body
* {
  font-family: 'Cera Round Pro', sans-serif;
}

// Colors
$grey: #808080;
$lightGrey: #d3d3d3;
$blue: #0000ff;
$darkBlue: #00008b;
$washedBlue: #5274a1;
$bgBlue: #7FC8F8;
$bgCardBlue: #D8EEFD;
$btnBlue: #0C90E9;
$buttonBlue: #0C90E9;
$buttonRed: #fb4f4f;
$turquoise: #127474;
$red: #ff0000;

$washedOrange: #a97b43;
$background: #f0f6f6;
$limeGreen: #32cd32;

$softBlack: #646468;
$shadow: #00000033;
$textShadow: #000000;
$textSoft: #555555;
$whiteSmoke: #f5f5f5;
$bgSoft: #f6f3f3;
$darkBg: #222222;
$darkBgSoft: #333333;
$darkBorder: #444444;
$darkText: #555555;


// Light/Dark Mode Colors
$white: #ffffff;
$black: #000000;
$lightPageBg:#D8EEFD;
$darkPageBg: #24292E;
$lightSectionBg: #7FC8F8;
$darkSectionBg: #383f45;
$lightCardBg: #f6f7f9;
$darkCardBg: #454c52;
$lightTxt: #131315;
$darkTxt: #F4F4F5;
$lightSoftTxt: #596066;
$darkSoftTxt: #9Ea5ad;
$border: #d3d3d3;
$logo: #0C90E9;


// Actual Colors
$Blue1: #00a3bf;
$Red1: #DE350B;
$Green1: #00875a;
$Blue2: #00b8d9;
$Red2: #ff5630;
$Green2: #36b37e;
$Blue3: #00c7e6;
$Red3: #ff7452;
$Blue4: #79e2f2;
$Blue5: #B3f5ff;
$Blue6: #c9f6fe;
$White1: #f6f7f9;
$White2: #F4F4F5;



// mixins
@mixin authShadow {
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

@mixin cardShadow {
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

@mixin storyShadow {
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.27);
}

@mixin postShadow {
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.27);
}

@mixin shareShadow {
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.27);
}

@mixin coverShadow {
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.27);
}

@mixin buttonShadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@mixin textShadow {
  text-shadow: 2px 3px 10px #00000087;
}

@mixin barShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 3px 0px;
}

@mixin newsShadow {
  box-shadow: 0px 5px 30px -8px rgba(0, 0, 0, 0.2);
}

@mixin bigButton($bgColor, $txtColor, $hoverColor, $hoverTxtColor) {
  align-items: center;
  appearance: none;
  background-color: $bgColor;
  border-radius: 16px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-sizing: border-box;
  color: $txtColor;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 80ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  &:hover {
    background: $hoverColor;
    color: $hoverTxtColor;
  }
  &:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
      0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:not(:disabled) {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  &:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
      rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
  }
  &:not(:disabled):active {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px,
      rgba(0, 0, 0, 0.24) 0px 2px 5px 3px;
  }
  &:disabled {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0,
      rgba(0, 0, 0, 0.24) 0px 1px 2px 0;
  }
}

@mixin smallButton($bgColor, $txtColor, $hoverColor, $hoverTxtColor) {
  align-items: center;
  appearance: none;
  background-color: $bgColor;
  border-radius: 16px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-sizing: border-box;
  color: $txtColor;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 10px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 80ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  &:hover {
    background: $hoverColor;
    color: $hoverTxtColor;
  }
  &:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
      0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  &:focus {
    outline: none;
  }
  &:not(:disabled) {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  &:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
      rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
  }
  &:not(:disabled):active {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px,
      rgba(0, 0, 0, 0.24) 0px 2px 5px 3px;
  }
  &:disabled {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0,
      rgba(0, 0, 0, 0.24) 0px 1px 2px 0;
  }
}

@mixin bigBorderRd{
  border-radius: 3.3rem;
}

@mixin smallBorderRd{
  border-radius: 1.8rem;
}

@mixin mobile {
  @media screen and (min-width: 100px) and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 481px) and (max-width: 1200px) {
    @content;
  }
}
