@use 'base.scss';

$themes: (
  light: (
    textColor: base.$black,
    bg: base.$white,
    logo: base.$btnBlue,
    bgSoft: base.$bgSoft,
    textColorSoft: base.$textSoft,
    border: base.$lightGrey,
  ),
  dark: (
    textColor: base.$whiteSmoke,
    bg: base.$darkBg,
    logo: base.$white,
    bgSoft: base.$darkBgSoft,
    textColorSoft: base.$lightGrey,
    border: base.$darkBorder,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
