@use "../../style/base";
@import '../../style/base';
@import '../..//style/style.scss';

.home {
  @include themify($themes) {
    background-color: themed('bg');
    padding: 20px 70px;
    color: themed('textColor');
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet {
      padding: 20px;
    }
  }
}
