@use "../../style/base";
@import '../../style/base';
@import '../..//style/style.scss';

.home {
  @include themify($themes) {
    background-color: themed('pageBg');
    padding: 20px 70px;
    color: themed('textColor');
    padding-top: 100px;
    //min-height: 100vh;


    @include mobile {
      padding: 20px;
      padding-top: 100px;
    }

    @include tablet {
      padding: 20px;
      padding-top: 100px;
    }
  }
}

