@use "../../style/base";
@import '../../style/base';
@import '../..//style/style.scss';

.home {
  @include themify($themes) {
    background-color: themed('pageBg');
    padding: 20px 70px;
    color: themed('textColor');

    @include mobile {
      padding: 20px;
    }

    @include tablet {
      padding: 20px;
    }
  }
}
