@use "../..//style/base";
@import '../..//style/base';
@import '../..//style/style.scss';

.rightBar {
  @include themify($themes) {
    background-color: themed('pageBg');

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    .rightBarFront {
      flex: 3;
      position: sticky;
      top: 100px;
      height: calc(100vh - 100px);
      overflow: scroll;
      scrollbar-width: none; /* Firefox */
      background-color: themed('rightSectionBg');
      @include bigBorderRd;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      @include coverShadow;
      z-index: 130000;

      &::-webkit-scrollbar {
        display: none;
      }

      .container {
        padding: 20px;

        .item {
          @include cardShadow;
          padding: 20px;
          margin-bottom: 20px;
          background-color: themed('cardBg');
          @include smallBorderRd;

          span {
            color: themed('softTextColor');
            font-size: 14px;
          }

          .title {
            font-weight: 500;
            color: themed('textColor');
            font-size: 15px;
          }

          .user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0px;

            .userInfo {
              display: flex;
              align-items: center;
              gap: 20px;
              position: relative;
              max-width: 75%;

              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
              }
              .online {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: base.$limeGreen;
                position: absolute;
                top: 0;
                left: 30px;
              }

              p {
                color: themed('softTextColor');
                font-size: 14px;
                max-inline-size: 215px;
                overflow-wrap: break-word;
              }

              span {
                font-weight: 500;
                color: themed('textColor');
                font-size: 15px;
              }

              .friendsUsername {
                cursor: pointer;
                
                &:hover {
                  color: themed('hover');
                }
              }
            }

            .buttons {
              display: flex;
              align-items: center;
              gap: 10px;

              .follow {
                @include smallButton(
                  base.$buttonBlue,
                  base.$White1,
                  base.$White1,
                  base.$buttonBlue
                );
              }

              .ignore {
                @include smallButton(
                  base.$buttonRed,
                  base.$White1,
                  base.$White1,
                  base.$buttonRed
                );
              }
            }

            .ad {
              display: flex;
              align-items: flex-start;
              flex-direction: column;

              .adImage {
                img {
                  height: auto;
                  width: 320px;
                  @include smallBorderRd;
                  @include newsShadow;
                }
              }

              p {
                color: themed('softTextColor');
                padding-left: 10px;
                padding-top: 15px;
                font-size: 14px;
                max-inline-size: 285px;
                overflow-wrap: break-word;
              }
            }
          }
        }
      }
    }
  }
}
