@use "../..//style/base";
@import '../..//style/base';
@import '../..//style/style.scss';

.rightBar {
  @include themify($themes) {
    background-color: themed('pageBg');


    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    .rightBarFront{
      flex: 3;
      position: sticky;
      top: 100px;
      height: calc(100vh - 120px);
      overflow: scroll;
      scrollbar-width: none; /* Firefox */
      background-color: themed('bgSoft');
      border-radius: 25px;
      margin: 0px 20px 20px 0px;
      @include coverShadow;

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;


      .item {
        @include cardShadow;
        padding: 20px;
        margin-bottom: 20px;
        background-color: themed('bg');
        @include smallBorderRd;

        span {
          color: base.$grey;
          font-size: 14px;
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 20px 0px;

          .userInfo {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;
            max-width: 75%;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              cursor: pointer;
            }
            .online {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: base.$limeGreen;
              position: absolute;
              top: 0;
              left: 30px;
            }

            p {
              color: themed('textColorSoft');
              font-size: 14px;
              max-inline-size: 215px;
              overflow-wrap: break-word;
            }

            span {
              font-weight: 500;
              color: themed('textColor');
              font-size: 15px;
            }
          }

          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            .follow {
              @include smallButton(
                base.$buttonBlue,
                base.$white,
                base.$white,
                base.$buttonBlue
              );
            }

            .ignore {
              @include smallButton(
                base.$buttonRed,
                base.$white,
                base.$white,
                base.$buttonRed
              );
            }
          }
        }
      }
    }
    }
  }
}
