@use "../..//style/base";
@import '../..//style/base';
@import '../..//style/style.scss';

.leftBar {
  @include themify($themes) {
    background-color: themed('pageBg');
    flex: 2;
    
    @include mobile {
      display: none;
    }

    .leftBarFront {
      position: sticky;
      top: 100px;
      height: calc(100vh - 100px);
      overflow: scroll;
      scrollbar-width: none; /* Firefox */
    background-color: themed('bgSoft');
    border-radius: 25px;

      @include mobile {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .faIcon {
        cursor: pointer;
      }

      .container {
        padding: 20px;

        hr {
          margin: 20px 0px;
          border: none;
          height: 1px;
          background-color: themed('border');
        }

        .menu {
          display: flex;
          flex-direction: column;
          gap: 20px;

          span {
            font-size: 12px;
            color: themed('textColorSoft');
          }

          .user,
          .dev,
          .news {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
              cursor: pointer;
            }

            span {
              font-size: 14px;
              color: themed('textColor');
            }
          }

          .item {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 30px;
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
