@use "../..//style/base";
@import '../..//style/base';
@import '../..//style/style.scss';

.leftBar {
  @include themify($themes) {
    background-color: themed('pageBg');
    flex: 2;
    max-width: 385px;

    @include mobile {
      display: none;
    }

    .leftBarFront {
      position: sticky;
      top: 100px;
      height: calc(100vh - 100px);
      overflow: scroll;
      scrollbar-width: none; /* Firefox */
      background-color: themed('leftSectionBg');
      @include bigBorderRd;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      @include coverShadow;
      z-index: 130000;

      &::-webkit-scrollbar {
        display: none;
      }

      @include mobile {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .faIcon {
        cursor: pointer;

        &:hover {
          color: themed('hover');
        }
      }

      .container {
        padding: 20px;

        .menu {
          @include cardShadow;
          padding: 20px;
          margin-bottom: 20px;
          background-color: themed('cardBg');
          @include smallBorderRd;


          .title {
            text-decoration: none;
            color: themed('textColor');
            cursor: pointer;
    
            &:hover {
              color: themed('hover');
          }
        }

          .user,
          .dev {
            display: flex;
            align-items: center;
            gap: 15px;
            font-weight: 500;

            .news {
              display: flex;
              align-items: flex-start;
              gap: 15px;
              font-weight: 500;
            }

            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
              cursor: pointer;
            }
          }

          .title,
          .news_title {
            font-weight: 500;
            color: themed('textColor');
            font-size: 15px;
            gap: 15px;
            display: flex;
            align-items: center;
          }

          .news_title {
            padding-bottom: 10px;
          }

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            color: themed('textColor');

            img {
              width: 30px;
            }

            span {
              font-size: 14px;
              padding: 15px 0px 10px 0px;
              max-inline-size: 365px;
              overflow-wrap: break-word;
            }
          }
        }
      }
    }
  }
}
