@use "../..//style/base";
@import '../..//style/base';
@import '../..//style/style.scss';

.leftBar {
  @include themify($themes) {
    background-color: themed('pageBg');
    flex: 2;
    max-width: 385px;

    @include mobile {
      display: none;
    }

    .leftBarFront {
      position: sticky;
      top: 100px;
      height: calc(100vh - 120px);
      overflow: scroll;
      scrollbar-width: none; /* Firefox */
      background-color: themed('bgSoft');
      border-radius: 25px;
      margin: 0px 0px 20px 20px;
      @include coverShadow;

      @include mobile {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .faIcon {
        cursor: pointer;
      }

      .container {
        padding: 20px;

        .menu {
          @include cardShadow;
          padding: 20px;
          margin-bottom: 20px;
          background-color: themed('bg');
          @include smallBorderRd;

          span {
            color: themed('textColorSoft');
          }

          .user,
          .dev,
          .news {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
              cursor: pointer;
            }

            span {
              font-weight: 500;
              color: themed('textColor');
            }
          }

          .item {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 30px;
            }

            span {
              font-size: 14px;
              padding: 15px 0px 10px 0px;
              max-inline-size: 365px;
              overflow-wrap: break-word;
            }
          }
        }
      }
    }
  }
}
