@use '../..//style/base';
@import '../..//style/base';
@import '../..//style/style.scss';

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed('border');
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: themed('bg');
    color: themed('textColor');
    @include coverShadow;

    .faIcon {
      cursor: pointer;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 20px;

      .logoName {
        font-weight: 900;
        font-size: 30px;
        color: themed('logo');
        cursor: pointer;

        @include mobile {
          font-size: 20px;
        }
      }
    }

    .center {
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed('border');
        border-radius: 25px;
        padding: 10px;
        @include barShadow;

        @include mobile {
          box-shadow: none;
          border: none;
        }

        input {
          border: none;
          width: 500px;
          outline: none;
          background-color: transparent;
          color: themed('textColor');

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      // @include mobile {
      //   display: none;
      // }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }

        span {
          font-weight: 500;

          @include mobile {
            display: none;
          }

          @include tablet {
            display: none;
          }
        }
      }
    }
  }
}
