@use '../..//style/base.scss';
@import '../..//style/base.scss';
@import '../..//style/style.scss';

.stories {
  display: flex;
  gap: 10px;
  height: 250px;
  margin-bottom: 30px;

  @include mobile {
    height: 50px;
    justify-content: space-between;
  }

  @include tablet {
    height: 150px;
    gap: 20px;
  }

  .story {
    flex: 1;
    @include smallBorderRd;
    overflow: hidden;
    position: relative;
    @include storyShadow;

    @include mobile {
      flex: none;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
    span {
      position: absolute;
      bottom: 10px;
      left: 20px;
      color: base.$white;
      @include textShadow;

      @include mobile {
        display: none;
      }
    }
    button {
      @include bigButton(
        base.$buttonBlue,
        base.$White1,
        base.$White1,
        base.$buttonBlue
      );
      position: absolute;
      bottom: 40px;
      left: 10px;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;

      @include mobile {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
