@use '../..//style/base.scss';
@import '../..//style/base.scss';
@import '../..//style/style.scss';

.stories {
  display: flex;
  gap: 10px;
  height: 250px;
  margin-bottom: 30px;

  .story {
    flex: 1;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    @include cardShadow;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    span {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: base.$white;
      @include textShadow;
    }
    button {
      @include bigButton(
        base.$buttonBlue,
        base.$white,
        base.$white,
        base.$buttonBlue
      );
      position:absolute;
      bottom:40px;
      left: 10px;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
    }
  }
}
