.stories {
  display: flex;
  gap: 10px;
  height: 250px;
  margin-bottom: 30px;

  .story {
    flex:1;
    border-radius: 10px;
    overflow:hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    span {
      position:absolute;
      bottom: 10px;
      left: 10px;
      color: white
      
    }
    button{
      position:absolute;
      bottom:40px;
      left: 10px;
      color: white;
      background-color: rgb(18, 116, 116);
      border: none;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
