

.rightBar {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll; 

  .container {
    padding: 20px;

    .item {
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      padding: 20px;
      margin-bottom: 20px;
      background-color: themed("bg");

      span {
        color: gray;
      }

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0px;

        .userInfo {
          display: flex;
          align-items: center;
          gap: 20px;
          position: relative;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        } 
      } 
    } 
  } 
}